<ion-header>
  <ion-navbar hideBackButton color="primary"> 
    
    <ion-buttons left>
      <button ion-button icon-only (click)="abrirMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

      <ion-title text-center>Historias de {{userProvider.datosUsuario.username}}</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)='abrirScanner()'>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid height="100%">
    <ion-row align-items-center>
      <ion-col row-2 col-12>
          <ion-item no-lines >            
            <ion-label color="primary" stacked>¿Donde estás?</ion-label>
            <ion-textarea type="text" class="comentarios" [(ngModel)]="comentario.cuerpo"></ion-textarea>            

          </ion-item>        
          <ion-item no-lines>
            <ion-buttons>
              <button (click)="enviarComentario()" ion-button block>Enviar</button>
            </ion-buttons>
          </ion-item>
          
      </ion-col>
    </ion-row>
    <ion-list>
        <ion-list-header>
          <p *ngIf="userProvider.datosUsuario.data && userProvider.datosUsuario.data.length > 0">Lo ultimo que han visto tú y tus amigos</p>
          <p *ngIf="!userProvider.datosUsuario.data || userProvider.datosUsuario.data.length == 0">Aún no tienes logros ni comentarios tuyos ni de amigos</p>
        </ion-list-header>
        <div *ngFor="let data of userProvider.datosUsuario.data; let i = index"> 
          <ion-card *ngIf="data.tipoObjeto == 'scan'">
            
              <ion-item>
                <p>{{userProvider.datosUsuario.username}} has visto
                  <b>'{{data.contenido.nombre}}'</b>
                </p>

              </ion-item>

              <img src="{{data.contenido.imgUrl}}">

              <ion-card-content>
                <p text-justify>{{data.contenido.descripcion}}</p>
              </ion-card-content>
          
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>0 Likes</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="calendar"></ion-icon>
                    <ion-note>
                        {{data.fechaIngreso | date: 'dd/MM/yyyy'}}
                    </ion-note>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
        

            <ion-card *ngIf="data.tipoObjeto == 'comentario'">
              <ion-item>
                <ion-row>
                    <ion-col>
                      <ion-avatar item-start>
                        <img src="{{userProvider.datosUsuario.imgUrl}}">
                      </ion-avatar>
                    </ion-col>
                    <ion-col>
                      <button ion-button icon-start clear small>                            
                        <ion-note>{{userProvider.datosUsuario.username}}</ion-note>
                      </button>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                  </ion-row>
                </ion-item>
              
                <!--img src="img/advance-card-bttf.png"-->
              
                <ion-card-content justify-content-center align-items-left>
                  <p text-justify>{{data.contenido.cuerpo}}</p>
                </ion-card-content>
              
                <ion-row>
                  
                  <ion-col>
                    <button ion-button icon-start clear small>
                      <ion-icon name="thumbs-up"></ion-icon>
                      <ion-note>0 Likes</ion-note>
                    </button>
                  </ion-col>
                  <ion-col center text-center>
                      <button ion-button icon-left clear small>
                          <ion-icon name="calendar"></ion-icon>
                          <ion-note>
                              {{data.fechaIngreso | date: 'dd/MM/yyyy'}}
                          </ion-note>
                        </button>
                  </ion-col>
                </ion-row>
              
              </ion-card>
          </div>
      </ion-list>
  </ion-grid>

  
</ion-content>