<ion-header>

    <ion-navbar hideBackButton color="primary">
        <ion-buttons left>
          <button ion-button icon-only (click)="abrirMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>

          <ion-title text-center>Perfil Contacto</ion-title>

        <ion-buttons end>
          <button ion-button icon-only (click)='abrirScanner()'>
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>

</ion-header>

<ion-content padding text-center>

  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <img src="{{userData.data.imgUrl}}" class="avatar">
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <ion-col>
        <h1>{{userData.data.username}}</h1>
      </ion-col>
    </ion-row>

    <ion-row  justify-content-center align-items-center>
      <ion-col col-12>
        <ion-list>
          <ion-list-header>
            Puntaje actual de {{userData.data.username}}: <br>
            <ion-icon name="star"></ion-icon> <span style="font-size: 20px; color: #e8794e">{{userData.data.puntaje}}</span> <ion-icon name="star"></ion-icon>
          </ion-list-header>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <p *ngIf="actividadesContacto && actividadesContacto.length > 0">Últimos logros y comentarios:</p>
            <p *ngIf="!actividadesContacto || actividadesContacto == 0">Aún no tienes logros ni comentarios</p>
          </ion-list-header>
          <div *ngFor="let data of actividadesContacto; let i = index">
            <ion-card *ngIf="data.tipoObjeto == 'scan'">

              <ion-item text-center>
                <p>{{userData.data.username}} ha visto:
                 <br> <b>'{{data.contenido.nombre}}'</b>
                </p>
              </ion-item>

              <img src="{{data.contenido.imgUrl}}">

              <ion-card-content>
                <p text-justify>{{data.contenido.descripcion}}</p>
              </ion-card-content>

              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="calendar"></ion-icon>
                    <ion-note>{{data.fechaIngreso | date: 'dd/MM/yyyy'}}</ion-note>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="clock"></ion-icon>
                    <ion-note>
                      {{data.fechaIngreso | date: 'HH:mm'}}
                    </ion-note>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>


            <ion-card *ngIf="data.tipoObjeto == 'comentario'">

              <ion-item>


                <ion-row>
                  <ion-col>
                    <ion-avatar item-start>
                      <img src="{{userData.data.imgUrl}}">
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-start clear small>
                      <ion-note>{{data.contenido.autor}}</ion-note>
                    </button>
                  </ion-col>
                  <ion-col>

                  </ion-col>

                </ion-row>
              </ion-item>

              <!--img src="img/advance-card-bttf.png"-->

              <ion-card-content justify-content-center align-items-left>
                <p text-justify>{{data.contenido.cuerpo}}</p>
              </ion-card-content>

              <ion-row>

                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="calendar"></ion-icon>
                    <ion-note>{{data.fechaIngreso | date: 'dd/MM/yyyy'}}</ion-note>
                  </button>
                </ion-col>
                <ion-col  right text-right>
                  <button ion-button icon-left clear small>
                    <ion-icon name="clock"></ion-icon>
                    <ion-note>
                      {{data.fechaIngreso | date: 'HH:mm'}}
                    </ion-note>
                  </button>
                </ion-col>
              </ion-row>

            </ion-card>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
